/* Some Sass variables */
// Colors
$board-bg-color: #0079bf;
$first-bg-color: #0067a3;
$list-bg-color: #e2e4e6;

body {
  margin: 0;

  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.3em;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  background-color: $board-bg-color;
  color: #eee;

  .list-container {
    display: flex;
    height: 100vh;
    flex-direction: row;
  }
}

.navbar {
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  &.app {
    background-color: $first-bg-color;
    font-size: 3rem;
    height: 8%;
    width: 100%;
    
  }
}

