.spinner-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: z(spinner);

  &--fixed {
    position: fixed;
    z-index: z(spinner);
  }

  &--opaque {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.spinner {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #87f028;

  &__panel{
    min-height: 60px;
    position: relative;
  }
}

.spinner::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 100%;
  box-shadow: 0 0 0 3px;
  animation: spinner-bubble 1s linear 0s infinite;
  margin: auto;
  width: 10px;
  height: 10px;
  opacity: 0;
}

@keyframes spinner-bubble {
  10% {
    width: 5px;
    height: 5px;
    opacity: 0.2;
  }

  30% {
    width: 10px;
    height: 10px;
    opacity: 0.3;
  }

  50% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }

  100% {
    width: 60px;
    height: 60px;
    opacity: 0;
  }
}
